.plan-details {
    background-color: #f4f4f4;
    min-height: 100vh;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
  }
  
  thead {
    background-color: #ff6600;
    color: #ffffff;
    text-align: left;
  }
  
  th, td {
    padding: 16px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-size: 16px;
    font-weight: 600;
  }
  
  td {
    font-size: 15px;
  }
  
  
  
  input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
  }
  .loader-container {
    padding-top: 100px;
    text-align: center;
  }

  .plan-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }

  .plan-info input{
    width: 100%;
    height: 25px;
    padding: 5px;
  }

  .plan-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .plan-checkbox {
    display: flex;
  }

  .checkbox-item {
    display: flex;
    margin-right: 20px;
    gap: 5px;
  }

  .plan-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan-button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff6600;
    color: white;
    font-size: medium;
  }

  .plan-button:hover {
    background-color: #ff8533;
  }
  