.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.cart-data {
    background-color: white;
    margin: 10px 0;
}

.cart-header {
    padding: 20px 0 10px 20px;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    min-height: 300px;
}

.cart-items {
    min-width: 500px;
}

.item-card {
    display: flex;
    flex-direction: row;
    background-color: #faf9f6;
    padding: 5px;
}

.item-image img {
    width: 150px;
    height: 150px;
}

.item-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ruppee-img {
    width: 20px;
    height: 13px;
}

.trash-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.item-total {
    display: flex;
    justify-content: end;
    background-color: #faf9f6;
    border-top: 1px solid #d3d3d3;
    padding: 5px;
    margin-bottom: 10px;
}

.cart-checkout {
    min-width: 200px;
    height: 150px;
    background-color: #faf9f6;
    margin-left: 10px;
    padding: 20px;
}

.cart-pay {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 30%;
    border-radius: 50px;
    background-color: #ff6600;
    margin-top: 10px;
    color: #fff;
}

.remove-all {
    margin: 0 20px 20px 20px;
    padding: 5px 19px;
    background-color: antiquewhite;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width:850px){
    .cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 75px; */
    }

    .cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 10px;
        min-height: 300px;
    }

    .cart-items {
        min-width: 330px;
    }
}