.base-child {
    width: 75%;
    margin: 0 auto;
    padding-top: 85px;
}

@media (max-width: 480px) {
    .base-child {
        width: 100%;
        margin: 0 auto;
        padding-top: 75px;
    }
  }